#colors_container {
  margin: 20px auto;
  max-width: 600px;
}

.color_option {
  width: 29%;
  background: purple;
  border: 1px solid var(--white);
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 15%;
  transition: background 0.6s;
}
